<div class="bt border-success">
    <div class="col-xs-4 br border-success bg-default-light">

        <div class="row" style="height: calc(100vh - 57px) ">
            <div >
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.name" placeholder="Name">
                </div>
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.mobile" placeholder="Mobile Number">
                </div>
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.contactNo" placeholder="Contact Numbres">
                </div>
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.address" placeholder="Address">
                </div>
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.contactName" placeholder="Contact Name">
                </div>
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.email" placeholder="Email">
                </div>
                <div class="mr20">
                    <input type="text" class="form-control m10" ng-model="client.fax" placeholder="Fax">
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-8 bg-white ">
        <div class="mt10">
            <input type="text" class="form-control" placeholder="search.." style="border-radius: 18px">
        </div>

        <div class="row smart-scroll-y scroll-success mt10" style="height: calc(100vh - 189px);">
            <div class="col-xs-12">

                <div class="widget bg-white border-success bordered pt0 pb0 mb5 ">
                    <div class="col-sm-2 mt10 ">
                      Chamara Wijerathne
                    </div>

                    <div class="col-sm-4 mt10 ">
                        Address Long Text Goes Here Like This
                    </div>

                    <div class="col-sm-2 mt10">
                        933013650V
                    </div>
                    <div class="col-sm-1 mt10">
                        0711727579
                    </div>

                    <div class="col-sm-1 pull-right fa fa-edit no-padding mt5 widget-icon bg-primary-light">
                    </div>

                    <div class="col-sm-1 pull-right fa fa-remove mt5 widget-icon bg-danger-light ">
                    </div>
                </div>
            </div>
        </div>

        <div class="row bt bg-default-dark bt border-success">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-4">
                <button class="btn btn-default col-sm-12 mt5"> <span class="fa fa-refresh"></span>&nbsp;&nbsp;&nbsp; DISCARD</button>
                <button class="btn btn-success col-sm-12 mt5"> <span class="fa fa-check"></span>&nbsp; Save</button>
            </div>
        </div>
    </div>
</div>

