<div class="bt border-primary">
    <div class="col-xs-4 br border-success bg-default-light">
        <div class="row">
            <div class="col-sm-12 pt15 pb15">
                <input class="form-control border-success" type="text" placeholder="search..." ng-model="a">
            </div>
        </div>


        <div class="row bt bb border-default mt5">
            <div class="col-sm-12 bg-success">
                <h4 class="text-center">GROUP ITEM</h4>
            </div>
        </div>

        <div class="widget bg-white border-success bordered mt5 mb0">
            <div class="pull-left mr15">
                <img class="widget-icon" src="../../../images/computer3.jpg" >
            </div>

            <div class="widget-details">
                <div class="block h5 bold">HP LAPTOP GB2 TB1 LONG TEXT GOES HERE LIKE THIS</div>
                <div class="block h5 text-success">RS: 46800.00</div>
            </div>

            <div class="widget-icon bg-success pull-right mt5 fa fa-info">

            </div>
        </div>

        <div class="widget bg-white border-success bordered mt5 mb0">
            <div class="pull-left mr15">
                <img class="widget-icon" src="../../../images/computer3.jpg" >
            </div>

            <div class="widget-details">
                <div class="block h5 bold">HP LAPTOP GB2 TB1 LONG TEXT GOES HERE LIKE THIS</div>
                <div class="block h5 text-success">RS: 46800.00</div>
            </div>

            <div class="widget-icon bg-success pull-right mt5 fa fa-info">

            </div>
        </div>

        <div class="widget bg-white border-success bordered mt5 mb0">
            <div class="pull-left">
                <img class="widget-icon" src="../../../images/computer2.jpg" >
            </div>

            <div class="widget-details">
                <span class="h5 bold">HP LAPTOP GB2 TB1</span>
                <small class="block h5 text-success">RS: 46800.00</small>
            </div>
            <div class="widget-icon bg-success pull-right mt5 fa fa-info">

            </div>
        </div>





        <div class="row bt bb border-default mt5">
            <div class="col-sm-12 bg-success">
                <h4 class="text-center">SERIAL ITEM</h4>
            </div>
        </div>

        <div class="widget bg-white border-success bordered mt5 mb0">
            <div class="pull-left mr15">
                <img class="widget-icon" src="../../../images/computer3.jpg" >
            </div>

            <div class="widget-details">
                <div class="block h5 bold">HP LAPTOP GB2 TB1 LONG TEXT GOES HERE LIKE THIS</div>
                <div class="block h5 text-success">RS: 46800.00</div>
            </div>

            <div class="widget-icon bg-success pull-right mt5 fa fa-info">

            </div>
        </div>
        <div class="widget bg-white border-success bordered mt5 mb0">
            <div class="pull-left mr15">
                <img class="widget-icon" src="../../../images/computer3.jpg" >
            </div>

            <div class="widget-details">
                <div class="block h5 bold">HP LAPTOP GB2 TB1 LONG TEXT GOES HERE LIKE THIS</div>
                <div class="block h5 text-success">RS: 46800.00</div>
            </div>

            <div class="widget-icon bg-success pull-right mt5 fa fa-info">

            </div>
        </div>

        <div class="widget bg-white border-success bordered mt5 mb0">
            <div class="pull-left">
                <img class="widget-icon" src="../../../images/computer2.jpg" >
            </div>

            <div class="widget-details">
                <span class="h5 bold">HP LAPTOP GB2 TB1</span>
                <small class="block h5 text-success">RS: 46800.00</small>
            </div>
            <div class="widget-icon bg-success-light pull-right mt5 fa fa-info">

            </div>
        </div> 

    </div>

    <div class="col-xs-8 bg-white ">
        <div class="row" ng-show="false">
            <div class="col-xs-3 pt15 pb15">
                <input type="text" placeholder="Invoice No" class="form-control border-success">
            </div>
            <div class="col-xs-3 pt15 pb15">
                <input type="text" placeholder="Date" class="form-control border-success">
            </div>
            <div class="col-xs-3 pt15 pb15">
                <input type="text" placeholder="Customer" class="form-control border-success">
            </div>
            <div class="col-xs-3 pt15 pb15">
                <input type="text" placeholder="Mobile" class="form-control border-success">
            </div>
        </div>
        <div class="row" ng-show="true">
            <div class="col-xs-2 pt15 pb15">
                <input type="text" placeholder="Grn No" class="form-control border-success">
            </div>
            <div class="col-xs-2 pt15 pb15">
                <input type="text" placeholder="Date" class="form-control border-success">
            </div>
            <div class="col-xs-2 pt15 pb15">
                <input type="text" placeholder="Supplier" class="form-control border-success">
            </div>
            <div class="col-xs-2 pt15 pb15">
                <input type="text" placeholder="Mobile" class="form-control border-success">
            </div>
            <div class="col-xs-2 pt15 pb15">
                <input type="text" placeholder="Credit Period" class="form-control border-success">
            </div>
            <div class="col-xs-2 pt15 pb15">
                <input type="text" placeholder="stock" class="form-control border-success">
            </div>
        </div>

        <div class="row bt mt5">
            <div class="col-sm-12 bg-default-dark mb5">
                <h4 class="text-center">Item Cart</h4>
            </div>
        </div>

        <div class="row" >

            <div class="col-xs-12" ng-repeat="item in [1, 2, 3]">
                <div class="widget bg-white border-success bordered  pt5 mb5">
                    <div class="pull-left mr15 ">
                        <img class="widget-icon" src="../../../images/computer3.jpg" >
                    </div>

                    <div class="widget-details">
                        <div class="block h5 bold">HP LAPTOP GB2 TB1 LONG TEXT GOES HERE LIKE THIS</div>
                        <div class="block h6 ">12 Months Warranty.</div>
                        <div class="block h5"><span class="text-success">RS: 46800.00 </span>X 2 = <span class="bold">RS:93600.00 </span> Discount:3600.00</div>
                    </div>

                    <div class="pull-right fa fa-remove mt5 widget-icon bg-danger-light ">
                    </div>

                    <div class="pull-right fa fa-edit no-padding mt5 widget-icon bg-primary-light">
                    </div>

                    <div class="h4 pull-left mt30 text-success bold">
                        RS:90000.00
                    </div>

                </div>
            </div>
        </div>

        <div class="row bt bg-default-dark">
            <div class="">
                <div class="col-sm-4">
                    <div class="input-group mt15 bootstrap-touchspin">
                        <span class="input-group-btn">
                            <button class="btn btn-success bootstrap-touchspin-down" type="button">-</button>
                        </span>
                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
                        </span>
                        <input type="text" value="" class="form-control bl0 br0 spinner2 border-success" placeholder="quantity">
                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;">
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-success bootstrap-touchspin-up" type="button">+</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 text-right">
                    <div class="h2 mt20 text-success bold mr25">
                        RS:270000.00
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-sm-4">
                    <div class="input-group mt0 bootstrap-touchspin">
                        <span class="input-group-btn">
                            <button class="btn btn-success bootstrap-touchspin-down" type="button">-</button>
                        </span>
                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
                        </span>
                        <input type="text" value="" class="form-control bl0 br0 spinner2 border-success" placeholder="discount">
                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;">
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-success bootstrap-touchspin-up" type="button">+</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 text-right mb5">
                    <button class="btn btn-default col-sm-12"> <span class="fa fa-refresh"></span>&nbsp;&nbsp;&nbsp; DISCARD</button>
                </div>
            </div>
            <div class="">
                <div class="col-sm-4">
                    <input type="text" class="form-control border-success text-center" placeholder="warranty" ng-model="warranty">
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-right mb5">
                    <button class="btn btn-success col-sm-12"> <span class="fa fa-check"></span>&nbsp; CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
</div>
