<div class="bt border-success">
    <div class="col-xs-4 br border-success bg-default-light">
        <div class="row bb border-success">
            <div class="col-sm-12 pt15 pb15 fixed">
                <div class="col-sm-12">
                    <input class=" form-control border-success" type="text" placeholder="search..." ng-model="search">
                </div>
            </div>
        </div>

        <div class="row smart-scroll-y scroll-success" style="height: calc(100vh - 182px) ">
            <div>
                <div class="col-sm-12 pt15 pb15 fixed">
                    <div class="col-sm-12">
                        Customer Name :                        
                        <input class=" form-control border-success" type="text" placeholder="Customer Name" ng-model="search">
                    </div>
                </div>
                <div class="col-sm-12 pt15 pb15 fixed">
                    <div class="col-sm-12">
                        NIC :
                        <input class=" form-control border-success" type="text" placeholder="NIC" ng-model="search">
                    </div>
                </div>
                <div class="col-sm-12 pt15 pb15 fixed">
                    <div class="col-sm-12">
                        Mobile :
                        <input class=" form-control border-success" type="text" placeholder="Mobile" ng-model="search">
                    </div>
                </div>
                <div class="col-sm-12 pt15 pb15 fixed">
                    <div class="col-sm-12">
                        Address :
                        <input class=" form-control border-success" type="text" placeholder="Address" ng-model="search">
                    </div>
                </div>
                <div class="col-sm-12 pt15 pb15 fixed">
                    <div class="col-sm-12">
                        Payable Amount :
                        <input class=" form-control border-success" type="text" placeholder="Payable Amount" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-8 bg-white ">
        <div class="row bt bb border-success">
            <div class="col-sm-12 bg-success mb5">
                <h4 class="text-center">Invoice List</h4>
            </div>
        </div>

        <div class="row smart-scroll-y scroll-success" style="height: calc(100vh - 248px);">
            <div class="col-xs-12">
                <div class="widget bg-white border-success bordered pt0 pb0 mb5">
                    <div class="col-sm-1 pull-left mt10">
                        <img class="widget-icon" src="../../../images/computer2.jpg" />
                    </div>

                    <div class="col-sm-4 widget-details ">
                        <span class="h6 bold">Item Description</span>
                        <span class="label label-success" ng-show="true">WARRANTY</span>
                        <span class="label label-success" ng-show="true">DISCOUNT</span>
                    </div>

                    <div class="col-sm-3 h4 pull-left  pr30 ">
                        <span class="h6 bold">2 X 20000.00}<br>(4000.00)</span>

                    </div>

                    <div class="col-sm-2 h4 pull-left text-success bold mt20">
                        36000.00
                    </div>

                    <div class="col-sm-1 pull-right fa fa-edit no-padding mt10 widget-icon bg-primary-light" data-toggle="modal" data-target=".edit-modal">
                    </div>

                    <div class="col-sm-1 pull-right fa fa-remove mt10 widget-icon bg-danger-light " data-toggle="modal" data-target=".delete-modal">
                    </div>
                </div>
            </div>


        </div>

        <div class="row bt bg-default-dark bt border-success">
            <div class="col-sm-8">
                <div class="h2 text-success bold mb0">
                    RS:270000.00
                </div>
                <label class="no-margin text-center">(RS:279000.00 - RS:9000.00)</label>
            </div>

            <div class="col-sm-4">
                <button class="btn btn-default col-sm-12 mt5"> <span class="fa fa-refresh"></span>&nbsp;&nbsp;&nbsp; DISCARD</button>
                <button class="btn btn-success col-sm-12 mt5" data-toggle="modal" data-target=".payment_method_modal"> <span class="fa fa-check"></span>&nbsp; CHECKOUT</button>

            </div>
            <!--Modal Customer--> 
            <div class="modal bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div ng-include src="'app/include_page/new_customer_modal.html'"></div>
            </div>
            <!--Modal Delete--> 
            <div class="modal delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div ng-include src="'app/include_page/delete_modal.html'"></div>
            </div>
            <!--Modal Item Info / Item Edit--> 
            <div class="modal edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div ng-include src="'app/include_page/edit_item.html'"></div>
            </div>
            <!--Modal Item Info / bulk--> 
            <div class="modal edit-modal-bulk" tabindex="-1" role="dialog" aria-hidden="true">
                <div ng-include src="'app/include_page/edit_item_bulk.html'"></div>
            </div>
            <!--Modal Item Info / serial--> 
            <div class="modal edit-modal-serial" tabindex="-1" role="dialog" aria-hidden="true">
                <div ng-include src="'app/include_page/edit_item_serial.html'"></div>
            </div>
            <!--Modal payment method--> 
            <div class="modal payment_method_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div ng-include src="'app/include_page/payment_method_modal.html'"></div>
            </div>
        </div>
    </div>
</div>



